@import "https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin-ext";

*{
  font-family: 'Tajawal', sans-serif;
}


.mainContainer{
  font-family: 'Tajawal', sans-serif;
  color:$darkColorText;
  background-color: #f3f3f4;
  width:100%;
}