footer{
  background-color:$darkColor;
  color:$lightColorText;
  height:10vh;
  border-top: 3px solid $accentColor;
  line-height:100%;
}

.half{
  padding:1.5rem;
  width:50%;
  text-align:center;
}