$backgroundColor:#d4d7cd;
$lightColor: #beb5c5;
$lightColorSecond: #659980;
$lightColorText: #f3f3f4;
$accentColor: #e9a655;
$accentColorSecond: #74020b;

$darkColor:#32363f;
$darkColorSecond:#112503;
$darkColorText:#060d01;