header{
  background-color:$darkColor;
  color:$lightColorText;
  border-bottom: 3px solid $accentColor;
  line-height:100%;
  padding:.8rem;
  font-size: 1rem;
  width:100vw;
}

.menu{
  text-align: right;
}

.hamburgerIcon{
  display:block;
  text-align:right;
}

.menu li{
  display:inline-block;
  padding:1rem;
  text-align:center;
  list-style-type: none;
}

.hamburger li{
  display:block;
}

.navText{
  color:$lightColor;
  text-decoration: none;
}
.navText:hover{
  font-weight: bold;
}

.active{
  text-decoration: none;
  font-weight: bold;
  color:$accentColor;
}

.active:hover{
  font-weight: bold;
}

