.mainContainer{
  height:100vh;
  width:100vw;
}

//.container{
//  width:100vw;
//}

.containerSection{
  height:80vh;
}
.mapContainer{
  margin:0 auto;
}

.lightMapBg{
  background-color:$lightColorText;
}

.imageDescription{
  padding:2rem;
  position:relative;
  top:-80vh;
  z-index:1;
  width:100%;
}

.mapDescription{
  padding:1rem;
  width:100vw;
}

.imageTitle{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .5rem;
  text-align:center;
  font-size:2rem;
}

.imageText{
  font-size: 1em;
}

//images
.image{
  width:100%;
  height:100%;
}

.imageHome{
  width:100%;
  height:100%;
  //Photo by: Matthew Henry
  background: url("../images/woman-wanderer_4460x4460.jpg") no-repeat center/cover;
}

.imageAboutProject{
  width:100%;
  height:100%;
  //Photo by: Nicole De Khors
  background: url("../images/rocky-mountain-road-trip_4460x4460.jpg") no-repeat center/cover;
  opacity:.8;
}

.accentFontColor{
  color:$accentColorSecond;
}

.mediumFontColor{
  color:$lightColorSecond
}

.lightFontColor{
  color:$backgroundColor;
}
