footer{
  background-color:$darkColor;
  color:$lightColorText;
  border-top: 3px solid $accentColor;
  line-height:100%;
  padding:.3rem;
  display:flex;
  flex-wrap: wrap;
}


.footerText a{
  color:white;
  text-decoration:none;
}
.footerText:hover{
  font-weight:bold;
}
