.formBtn{
  font-weight: bold;
  padding:.5rem;
  margin: .5rem 0;
  border-radius:5px;
  //margin:.5rem;
  display:inline-block;
  background-color:rgba($darkColor,.4);
  cursor:pointer;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(50,54,63,1);
  -moz-box-shadow: 2px 2px 4px 0px rgba(50,54,63,1);
  box-shadow: 2px 2px 4px 0px rgba(50,54,63,1);
  border: none;
  color:$accentColorSecond;
}

input[type=text], input[type=number]{
  width:100%;
  padding:.3rem;
  border-radius:5px;
  margin:.5rem 0;
}

.formStyle:before{
  border-top: 1px dashed #beb5c5;
}

.formStyle label{
  padding:.5rem 0 .1rem 0;
}

addNoteBtn{
  background-color:rgba($accentColorSecond,.4);
  color:$darkColor;
}
