input[type=text], input[type=number], textarea{
  width:100%;
  padding:.3rem;
  border-radius:5px;
  margin:.5rem 0;
}

.formStyle:before{
  border-top: 1px dashed #beb5c5;
}

.formStyle label{
  padding:.5rem 0 .1rem 0;
}
