header{
  background-color:$darkColor;
  color:$lightColorText;
  height:10vh;
  border-bottom: 3px solid $accentColor;
  line-height:100%;
}

.flexContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu li{
  display:inline-block;
  padding:1.5rem;
  text-align:center;
}

.navText{
  color:$lightColor;
  text-decoration: none;
}
.navText:hover{
  font-weight: bold;
}

.active{
  text-decoration: none;
  font-weight: bold;
  color:$accentColor;
}

.active:hover{
  font-weight: bold;
}

