.centerContainer{
  display:flex;
  justify-content: center;
  align-items:center;

}

.infoContainer{
  position:absolute;
  top:40%;
  left:40%;
  width:30%;
}

.info{
  background-color:rgba($lightColorSecond, .5);
  color:$darkColor;
  padding:.8rem;
  border-radius: 10px;
}

img.flag{
  display:inline-block;
  height:1rem;
  padding:0 .3rem;
}

.infoTitle{
  padding-left: .3rem;
  display:inline-block;
  font-size:1rem;
  text-transform:uppercase;
}

.boldSpan{
  font-weight:bold;
}

.question{
  color:$accentColorSecond;
  padding: .5rem 0;
}
