.centerContainer{
  display:flex;
  justify-content: center;
  align-items:center;

}

.infoContainer{
  position:absolute;
  top:40%;
  left:40%;
  width:30%;
}

.info{
  background-color:rgba($lightColorSecond, .8);
  color:$darkColor;
  padding:.8rem;
  border-radius: 10px;
  height:100%;
  width:33%vw;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50,54,63,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50,54,63,1);
  box-shadow: 3px 3px 5px 0px rgba(50,54,63,1);
}
.infoHeader{
  padding:.3rem 0;
}

img.flag{
  display:inline-block;
  height:1rem;
  padding:0 .3rem;
}

.infoTitle{
  padding-left: .3rem;
  display:inline-block;
  font-size:1rem;
  text-transform:uppercase;
}

.boldSpan{
  font-weight:bold;
}

.question{
  color:$accentColorSecond;
  padding: .5rem 0;
}
