//footer and map
@media only screen and (max-width:320px){
  .oneLine{
    padding:.3rem;
    width:100%;
    text-align:center;
    line-height: 100%;
  }
}

@media only screen and (min-width:321px){
  .mapContainer{
    max-width:100%;
    align-items:center;
  }
  .half{
    display:inline-block;
    padding:.3rem;
    width:45%;
    text-align:center;
    align-content:center;
  }

}

//NOTES & info
@media only screen and (max-width:480px){
  //info
  .infoContainer{
    max-width:100%;
    position:relative;
  }
  .info{
    width:100vw;
  }

  //note
  .note{
    width:100vw;
  }
}

@media only screen and (min-width:800px){
  //info
  .infoFlex{
    display:flex;
    justify-content: center;

  }
  .infoContainer{
    max-width:30%;
    align-items: center;
    position:absolute;
    top:30vh;
    left:30vw;
  }
  .info{
    width:40vw;
  }
  .note{
    width:43vw;
  }
}

@media only screen and (min-width:800px){
  .note{
    width:30vw;
  }
}
