//mobile first
@media only screen and (max-width:320px){
  //info
  .infoContainer{
    max-width:100%;
  }
  .info{
    width:100vw;
  }

  //footer
  .oneLine{
    padding:.3rem;
    width:100%;
    text-align:center;
    line-height: 100%;
  }
}

@media only screen and (min-width:321px){
  //info
  .infoFlex{
    display:flex;
    justify-content: center;

  }
  .infoContainer{
    max-width:30%;
    align-items: center;
  }

  .mapContainer{
    max-width:100%;
    align-items:center;
  }
  .info{
    width:40vw;
  }

  //footer
  .half{
    display:inline-block;
    padding:.3rem;
    width:50%;
    text-align:center;
  }

}

//NOTES
@media only screen and (max-width:480px){
  .note{
    width:100vw;
  }
}

@media only screen and (min-width:480px){
  .note{
    width:40vw;
  }
}

//MENU
@media only screen and (max-width:420px){
  .hamburger{
    display:inline-block;
  }
  //.menu li{
  //  display:none;
  //}
}

@media only screen and (min-width:420px){
  .hamburger{
    display:none;
  }
  //.menu li{
  //  display:inline-block;
  //}
}