.notesContainer{
  display:flex;
  flex-wrap:wrap;
}
.note{
  background-color:rgba($accentColor,.5);
  color:$darkColor;
  border: px solid $darkColor;
  padding:.8rem;
  margin:.8rem;
  border-radius: 10px;
}

.btn{
  padding:.3rem;
  border-radius: 5px;
  font-weight: bold;
  color:$darkColor;
  margin:.3rem;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(50,54,63,1);
  -moz-box-shadow: 2px 2px 4px 0px rgba(50,54,63,1);
  box-shadow: 2px 2px 4px 0px rgba(50,54,63,1);
}

.deleteBtn{
  background-color: rgba($accentColorSecond,.5)
}